/* .slider {
  margin: 0 10px;
} */

@media (max-width: 700px) {
  .img > img {
    width: 100%;
    object-fit: cover;
  }
  .carousel {
    margin-left: 0;
    margin-right: 0;
    z-index: 10;
    /* padding: 50px; */
  }
}

.img > img {
  opacity: 1;
  transition: opacity 0.3s ease-in;
  width: 100%;
  object-fit: cover;
}
.carousel {
  z-index: 10;
}

@media screen and (min-width: 720px) {
  .img img {
    object-fit: cover;
    height: 100% !important;
  }
}
